<h2 mat-dialog-title style='text-align: center;'>Contact Details</h2>
<mat-dialog-content class="mat-typography" style='width:500px'> 
  <h3>Hyderabad</h3>
  <p> Floor: 4, Survey Numbers: 27/1, 27/2, 27/3 and 27/4, Fairfield by Marriott, Road No: 2, Nanakramguda, Gachibowli, Hyderabad - 500032.<br> Phone: +91 40 30011234</p>

  <h3>Bangalore</h3>
  <p> 2nd Floor, Umiya Business Bay Tower-1, Cessna Business Park, Kadubeesanahalli, Sarjapur Marathalli, Outer Ring Road, Bangalore, Karnataka – 560103 <br>Phone: +91 80 67821234</p>

  <h3>Mumbai</h3>
  <p>Level 4 , A wing, Dynasty Business Park, Office 426 Andheri - Kurla Road Andheri East Mumbai -400059 Maharashtra</p>

  <h3>Delhi-NCR</h3>
  <p>Units 705-709B, 7th Floor, Tower 1, Magnum Towers, Golf Course Extension Road, Sector 58, Gurgaon Haryana - 122011</p>

  <h3>Chennai</h3>
  <p>IndiQube Brigade Vantage, Santhosh Nagar, Karunanidhi Nagar, Perungudi, Chennai - 600096, Tamil Nadu</p>

  <h3>Chennai</h3>
  <p>20-22 Wenlock Road, London, N1 7GU<br> Phone: +44 2038185856</p>


</mat-dialog-content>
<mat-dialog-actions >
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>