<!-- <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">  
       
    </a>    
      <h1 style='margin-left: 120px;'> <img src="assets/images/aulogo.png" height='50px' width='50px'>MS AU Management</h1>
    <nav class="navbar navbar-light bg-light">
        
          <button type="button" class="btn btn-primary" (click)='signOut()'>Logout</button>
        
      </nav>
  </nav> -->
  <!-- <div style="height:50px;background-color: blue;">

  </div> -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- <a class="navbar-brand" href="#">Logo</a> -->
    
   
    
    <span style="color: white;margin-left: 550px;">
      <img  src="assets/images/aulogo.png" width='60px' height='50px'><h1 style='display: inline;margin-left: 15px;'>ACCOLITE UNIVERSITY</h1></span>
      <!-- <span style='color: whitesmoke;'>{{userservice.username}}</span> -->
      <span style='margin-left: 530px;color:blanchedalmond;'><button *ngIf='userservice.logged_in' type="button" class="btn btn-primary" (click)='signOut()'>Logout</button></span>
  </nav>
  
   <!-- <nav class="navbar navbar-light">
    <!Navbar content
    <span style="margin-left: 600px;">
      <h1>MS AU Management</h1>
    </span>
    <button type="button" class="btn btn-primary" (click)='signOut()'>Logout</button>
  </nav> -->
  <!-- <div style="width: 100%;height: 60px;background-color: aqua;">
    mihir
    <button type="button" class="btn btn-primary" (click)='signOut()'>Logout</button>
  </div> -->