<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
     <span style="color: white;margin-left: 550px;">
      <img  src="assets/images/aulogo.png" width='60px' height='50px'><h1 style='display: inline;margin-left: 15px;'>ACCOLITE UNIVERSITY</h1></span>
      <span style='color: whitesmoke;'>{{userservice.username}}</span>
      <span style='margin-left: 530px;color:blanchedalmond;'><button *ngIf='islogged_in()' type="button" class="btn btn-primary" (click)='signOut()'>Logout</button></span>
</nav> -->
<!-- <nav class="navbar navbar-light bg-light">
  <img src='assets/images/aulogo.png' height='30px' width='30px'>
  <span>ACCOLITE UNIVERSITY</span>
  <span>ACCOLITE UNIVERSITY</span>
  <span>ACCOLITE UNIVERSITY</span>
  <a class="navbar-brand" href="#">Navbar</a>
  <a class="navbar-brand" href="#">Navbar</a>
  <a class="navbar-brand" href="#">Navbar</a>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src='assets/images/aulogo.png' width='30px' height='30px' style='margin-right: 10px;'>
  <a class="navbar-brand" (click)='onbordee_page()' *ngIf='islogged_in()' >Onbordee</a>
  <a class="navbar-brand" (click)='trends_page()' *ngIf='islogged_in()' >Trends</a>
  <a class="navbar-brand" (click)='log_page()' *ngIf='islogged_in()' >Logs</a>
  <a class="navbar-brand" (click)='usermanagement_page()' *ngIf='islogged_in() && has_access()' >UserManagement</a>
  <a class="navbar-brand" (click)='hm_page()' *ngIf='islogged_in()' >HiringManager</a>
  <span style='margin-left: 600px;'>{{get_name()}}</span>
  <span style='margin-left: 100px;color:blanchedalmond;'>
    <button *ngIf='islogged_in()' type="button" class="btn btn-primary" (click)='signOut()'>Logout</button>
  </span> 
</nav>
  
 