<div style="background-image: url('assets/images/trendspage.jpg');background-size: 100% 100%;width:100%;height:100%">
<div style="position: absolute;top: 150px;left:70px">
  <div class=card-deck style="width: 90rem;">
  <!-- First Card -->
  <div class="card">
      <img class="card-img-top" src="assets/images/skill1.png" width='100' height='200'>
      <div class="card-body">
          <h4 class="card-title">View All the Trends around skill</h4>
          <p class="card-text">Get the details all the trending skills,high paying skill,important skill to have for a successfull career</p>
          <button class="btn btn-primary " (click)='trend_skill()'>View</button>
      </div>
  </div>
  <!-- Second Card -->
  <div class="card">
      <img class="card-img-top" src="assets/images/trends.png" width='100' height='200' alt="Card image" >
      <div class="card-body">
          <h4 class="card-title">View Trends around Hiring managers</h4>
          <p class="card-text">Get all the trends related to hiring manager. The number of hiring per year by a hiring manager. </p>
          <button class="btn btn-primary " (click)='trend_hmid()'>View</button>
      </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/location.jpg" width='100' height='200' alt="Card image" >
    <div class="card-body">
        <h4 class="card-title">View Trends about location</h4>
        <p class="card-text">Get the details about each location,number of jobs in a location, different location and the opportunity it presents.</p>
        <button class="btn btn-primary " (click)='trend_location()'>View</button>
    </div>
</div>
<div class="card">
      <img class="card-img-top" src="assets/images/11.png" width='100' height='200' alt="Card image" >
      <div class="card-body">
          <h4 class="card-title">View Trend across Client</h4>
          <p class="card-text">Get the details of number of employees consumed by a particular client.Also get to khow the strength of all client account</p>
          <button class="btn btn-primary " (click)='trend_demandid()'>View</button>
      </div>
  </div>
  </div>
<div>
  <br>
  <br>
  <br>
<!-- <button style='margin-left: 30px;' (click)='go_back()' class="btn btn-primary ">Go Back</button> -->
</div>
  