<div style="position: absolute;top: 150px;">
    <div class=card-deck style="width: 50rem;">
    <!-- First Card -->
    <div class="card">
        <img class="card-img-top" src="assets/images/people.jpg" width='100' height='200'>
        <div class="card-body">
            <h4 class="card-title">View Onbordee Details</h4>
            <p class="card-text">Get the about the Onbordees like personal details, onboarding status</p>
            <button class="btn btn-primary " (click)='viewUsers()'>View Details</button>
        </div>
    </div>
    <!-- Second Card -->
    <div class="card">
        <img class="card-img-top" src="assets/images/trending.png" width='100' height='200' alt="Card image" >
        <div class="card-body">
            <h4 class="card-title">View Trends</h4>
            <p class="card-text">View trnds accross Skill,Location,Hiring managers,Demand ID</p>
            <button class="btn btn-primary " (click)='viewTrends()'>View Trends</button>
        </div>
    </div>
    </div>
<div>
    