<div style="position: absolute;top: 150px;">
    <div class=card-deck>
    <!-- First Card -->
    <div class="card">
        <img class="card-img-top" src="11.png" alt="Card image" style="width:100%;height:150px;">
        <div class="card-body">
            <h4 class="card-title">View Onbordee Details</h4>
            <p class="card-text">ple text some example text. John Doe is an architect and engineer</p>
            <button class="btn btn-primary " (click)='viewUsers()'>View Details</button>
        </div>
    </div>
    <!-- Second Card -->
    <div class="card">
        <img class="card-img-top" src="11.png" alt="Card image" style="width:100%;height:150px;">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">View Trends</a>
        </div>
    </div>
    
</div>
<div>
    